# Ignora i file di backup
backup/*.sql
# Ignora i file di configurazione
auth-server/.env
auth-server/__pycache__
auth-server/node_modules
web-server/.env
web-server/__pycache__
web-server/node_modules
.venv
